###############################################################################
# This is the global data-center (or server-cluster-specific) file
# which is used to configure the server back end.
###############################################################################



###############################################################################
# Debug flags
##############################################################################

# Database debug level.  Options are "shallow", "deep" and "" (none - default).
com.icontrol.server.dbpool.debug = "{{server_dbpool_debug}}"
debugConnectionWrap="{{debug_Connection_Wrap}}"


###############################################################################
# Partner-specific configs
###############################################################################

# Partner specific database JDBC URLs.
# The second part of the identifier is the partner login name.
# Each partner has a single admin database and a single ops database.
# They have one or more network databases specified by entries whose
# identifiers are of the form "partner.<partnerlogin>.db.<dbname>" where
# <dbname> is an identifier that specifies the name of the database.
# One of these network databases must be designated as the "current" database.
# The current database is identified by "partner.<partnerlogin>.current.db".
# It is the database to which new networks are added.

# The admin database for partner icontrol
partner.icontrol.admin.db = "{{partner_icontrol_admin_db}}"
# The reporting replication of admin database for partner icontrol
partner.icontrol.admin.db.reporting = "{{partner_icontrol_admin_db_reporting}}"

# The ops database for partner icontrol
partner.icontrol.ops.db = "{{partner_icontrol_ops_db}}"
# The reporting replication of ops database for partner icontrol
partner.icontrol.ops.db.reporting = "{{partner_icontrol_ops_db_reporting}}"

# A list of all of the network databases for partner icontrol
partner.icontrol.db.icontrol1 = "{{partner_icontrol_db_icontrol1}}"
# A list of all the reporting replication of the network databases for partner icontrol
partner.icontrol.db.icontrol1.reporting = "{{partner_icontrol_db_icontrol1_reporting}}"

# The default database to add new networks for partner icontrol
partner.icontrol.current.db = "{{partner_icontrol_current_db}}"

# A list of all of the user databases for partner icontrol
partner.icontrol.userdb.user1 = "{{partner_icontrol_userdb_user1}}"
# A list of all the reporting replication of the user databases for partner icontrol
partner.icontrol.userdb.user1.reporting = "{{partner_icontrol_userdb_user1_reporting}}"

# The default database to add new users for partner icontrol
partner.icontrol.current.userdb = "{{partner_icontrol_current_userdb}}"

# Gateway Registry Database
com.icontrol.gatewayregistry.db = "{{com_icontrol_gatewayregistry_db}}"

# The temp data database for partner icontrol
partner.icontrol.temp.db = "{{partner_icontrol_temp_db}}"

# The report database for partner icontrol
partner.icontrol.report.db = "{{partner_icontrol_report_db}}"

# Database connection pool sizes
# com.icontrol.userdb.poolsize=16
# com.icontrol.admindb.poolsize=16
# com.icontrol.networkdb.poolsize=64
# com.icontrol.tempdb.poolsize=16
# com.icontrol.gatewayregistrydb.poolsize=16
# com.icontrol.opsdb.poolsize=8
# com.icontrol.reportdb.poolsize=8
com.icontrol.userdb.poolsize="{{com_icontrol_userdb_poolsize}}"
com.icontrol.admindb.poolsize="{{com_icontrol_admindb_poolsize}}"
com.icontrol.networkdb.poolsize="{{com_icontrol_networkdb_poolsize}}"
com.icontrol.tempdb.poolsize="{{com_icontrol_tempdb_poolsize}}"
com.icontrol.gatewayregistrydb.poolsize="{{com_icontrol_gatewayregistrydb_poolsize}}"
com.icontrol.opsdb.poolsize="{{com_icontrol_opsdb_poolsize}}"
com.icontrol.reportdb.poolsize="{{com_icontrol_reportdb_poolsize}}"

# on prod, this should be 200
dbpool.max.idle="{{dbpool_max_idle}}"
# dbpool.max.idle=200
