###############################################################################
# This is the global data-center (or server-cluster-specific) file
# which is used to configure the server back end.
###############################################################################


###############################################################################
# Relay server properties
###############################################################################

com.icontrol.relay.server.instances="{{relay_server_instances}}"
com.icontrol.relay.server.monitor.connCountMax="{{relay_server_monitor_connCountMax}}"
com.icontrol.relay.server.monitor.connCountInterval="{{relay_server_monitor_connCountInterval}}"