###############################################################################
# This is the machine-specific file
# which is used to configure the server back end.
###############################################################################


###############################################################################
# This host properties
###############################################################################
#  hostname of this server as referenced in services.xml.
servicemachinename="{{service_machine_name}}"


###############################################################################
# Gateway Watchdog properties
###############################################################################
# only applies to papp and gapp server. Have this enabled on just one gapp to prevent DB contention
gatewaywatchdog.disabled="{{gateway_watchdog_disabled}}"



###############################################################################
# RabbitMQ properties
###############################################################################
com.icontrol.amqp.concurrency="{{amqp_concurrency}}"
com.icontrol.amqp.prefetch="{{amqp_prefetch}}"

com.icontrol.amqp.retry.maxAttempts="{{amqp_retry_maxAttempt}}"
com.icontrol.amqp.retry.initialInterval="{{amqp_retry_initialInterval}}"
com.icontrol.amqp.retry.maxInterval="{{amqp_retry_maxInterval}}"


ic-rest.amqp.uri= "{{rest_amqp_uri}}"
ic.amqp.uri= "{{ic_amqp_uri}}"


###############################################################################
# Notification properties
###############################################################################
# NB. Required steps to change the value of this property:
# 1. No servers connect to RabbitMQ
# 2. Wait until no messages left on ic.nwmanager.queue
# 3. Remove ic.nwmanager.queue by Admin console

#############################################################################
# Comma separated values: smppClient\, emailClient\, honeywellClient\, dscClient
# NOTE: Escape commas with backslash
# e.g.,
# ADT: smppClient\, honeywellClient\, dscClient
# DSC: smppClient, dscClient
# default: smppClient\, honeywellClient\, dscClient
#############################################################################
smsClients="{{sms_Clients}}"

#############################################################################
# enable/disable sim status check as part of SMS health check
# for production environments that use SMPP these should be false
# for all other environments that support Tier-1 panels these should be true
#############################################################################
com.icontrol.util.ops.simstatus.honeywellprovider.enableHealthCheck="{{util_ops_simstatus_honeywellprovider_enableHealthCheck}}"
com.icontrol.util.ops.simstatus.dscprovider.enableHealthCheck="{{util_ops_simstatus_dscprovider_enableHealthCheck}}"

# localized environment name used for MSS config
com.icontrol.server.environment="{{server_environment}}"

# the length for key and value of the preference for audit logs
com.icontrol.auditlogs.maxKeyLength="{{auditlogs_maxKeyLength}}"
com.icontrol.auditlogs.maxValueLength="{{auditlogs_maxValueLength}}"

com.icontrol.pps.jasper.licenseKey="{{pps_jasper_licenseKey}}"
com.icontrol.pps.jasper.version="{{pps_jasper_version}}"
#com.icontrol.pps.jasper.username="{{com_icontrol_pps_jasper_username}}"
com.icontrol.pps.jasper.password="{{pps_jasper_password}}"

# string used by load balancer monitoring tool to ping UDP port for connectivity
# This string will be ignored by the system
com.icontrol.pps.loadBalancerPingStr="{{pps_loadBalancerPingStr}}"

# allow overrides of default installer timeouts
com.icontrol.server.gatewaymgr.installTimeoutMins="{{server_gatewaymgr_installTimeoutMins}}"
com.icontrol.pps.installTimeWindow="{{pps_installTimeWindow}}"
###############################################################################
# Placeholders for additional properties, or overridden default values
###############################################################################

#############################################################################^M
# PPS JASPER Carrier properties^M
#############################################################################^M
com.icontrol.pps.jasper.accounts="{{pps_jasper_accounts}}"
com.icontrol.pps.jasper.owner="{{pps_jasper_owner}}"
com.icontrol.pps.jasper.licenseKey="{{pps_jasper_licenseKey}}"
com.icontrol.pps.jasper.version="{{pps_jasper_version}}"
com.icontrol.pps.jasper.username="{{pps_jasper_username}}"
com.icontrol.pps.jasper.password="{{pps_jasper_password}}"
com.icontrol.pps.jasper.communicationPlans="{{pps_jasper_communicationPlans}}"