###############################################################################
# This is the machine-specific file
# which is used to configure the server back end.
###############################################################################

###############################################################################
# Relay server properties
###############################################################################
#  actual hostname of this relay server
com.icontrol.relay.server.host= "{{relay_server_host}}"
com.icontrol.relay.server.host.stream= "{{relay_server_host_stream}}"