###############################################################################
# This is the dynamic data-center (or server-cluster-specific) file
# which is used to configure the server back end.
# The server will poll for changes to this file every 10 seconds
###############################################################################

###############################################################################
# Session server properties
###############################################################################

# com.icontrol.session.server.relayurl= "{{session_server_relay_user}}"
com.icontrol.session.server.relayuser="{{}}"
com.icontrol.session.server.relaypass="{{session_server_relay_pass}}"

# This should be set to true on servers which can have cloud hubs connected.
# If this is set, in the case of a serial number colission between a cloud hub
# a security panel, the cloud hub cases will be favored.
# In a production environment where that could potentially happen, there needs
# to be a separate set of session servers dedicated to cloud hub connections,
# separate from the lwgw session servers.
com.icontrol.session.server.enablecontrolhub="{{session_server_enable_control_hub}}"


###############################################################################
# LW Gateway properties
###############################################################################

# verticle bar-delimited list of the LW Gateway groups this session
# server manages. Format is [partner1]:[Groupname1]|[partner2]:[groupname2]
#  Example: icontrol:Lw Gateway 1|icontrol:Lw Gateway 2
# com.icontrol.session.server.mempool.lwgroupnames=icontrol:LW Gateway 1
# com.icontrol.session.server.mempool.lwgroupnames=icontrol:Session Server 1
com.icontrol.session.server.mempool.lwgroupnames="{{session_server_mempool_lwgroupnames}}"

# apn ipmaps. This table maps external ip to APN-specific IP
# example: apn.[apnid].ipmap.[pubip]=[apnip]




com.icontrol.session.lynx.autoconnect="{{session_lynx_auto_connect}}"