#
# Server Authentication Service Configuration File
#

# Authentication partner ID
auth.partner= "{{auth_partner}}"

#
# Partner specific settings
# - the preference key prefix must be auth.<partner_id>
#
auth.icontrol.client.sso.artifactFactory="{{auth_icontrol_client_sso_artifactFactory}}"
auth.icontrol.client.sso.restTokenFactory="{{auth_icontrol_client_sso_restTokenFactory}}"
auth.icontrol.client.sso.domain="{{auth_icontrol_client_sso_domain}}"
auth.icontrol.client.sso.idpMetadata="{{auth_icontrol_client_sso_idpMetadata}}"
auth.icontrol.client.sso.restCert="{{auth_icontrol_client_sso_restCert}}"
auth.icontrol.client.sso.restKey="{{auth_icontrol_client_sso_restKey}}"
auth.icontrol.client.sso.keystore="{{auth_icontrol_client_sso_keystore}}"
auth.icontrol.client.sso.sigCert="{{auth_icontrol_client_sso_sigCert}}"
auth.icontrol.client.sso.ksPassword="{{auth_icontrol_client_sso_ksPassword}}"
auth.icontrol.client.sso.sigKeyAlias="{{auth_icontrol_client_sso_sigKeyAlias}}"
auth.icontrol.client.sso.sigKeyPassword="{{auth_icontrol_client_sso_sigKeyPassword}}"
auth.icontrol.client.sso.idpIssuer="{{auth_icontrol_client_sso_idpIssuer}}"
auth.icontrol.client.sso.restIssuer="{{auth_icontrol_client_sso_restIssuer}}"
auth.icontrol.client.sso.spIssuer="{{auth_icontrol_client_sso_spIssuer}}"
auth.icontrol.client.sso.ssoLoginURL="{{auth_icontrol_client_sso_ssoLoginURL}}"
auth.icontrol.client.sso.ssoRequestEndpoint="{{auth_icontrol_client_sso_ssoRequestEndpoint}}"
auth.icontrol.client.sso.sloLogoutURL="{{auth_icontrol_client_sso_sloLogoutURL}}"
auth.icontrol.client.sso.sloRequestEndpoint="{{auth_icontrol_client_sso_sloRequestEndpoint}}"
auth.icontrol.client.sso.sloResponseEndpoint="{auth_icontrol_client_sso_sloResponseEndpoint}}"

auth.icontrol.admin.ldap.providerURL="{{auth_icontrol_admin_ldap_providerURL}}"
auth.icontrol.admin.ldap.keystore="{{auth_icontrol_admin_ldap_keystore}}"
auth.icontrol.admin.ldap.ksPassword="{{auth_icontrol_admin_ldap_ksPassword}}"
auth.icontrol.admin.ldap.baseDN="{{auth_icontrol_admin_ldap_baseDN}}"
auth.icontrol.admin.ldap.principalSuffix="{{auth_icontrol_admin_ldap_principalSuffix}}"
auth.icontrol.admin.ldap.usernameAttr="{{auth_icontrol_admin_ldap_usernameAttr}}"
auth.icontrol.admin.ldap.GUIDAttr="{{auth_icontrol_admin_ldap_GUIDAttr}}"
auth.icontrol.admin.ldap.binaryGUID="{{auth_icontrol_admin_ldap_binaryGUID}}"
auth.icontrol.admin.ldap.groupAttr="{{auth_icontrol_admin_ldap_groupAttr}}"
auth.icontrol.admin.ldap.emailAttr="{{auth_icontrol_admin_ldap_emailAttr}}"
auth.icontrol.admin.ldap.displayNameAttr="{{auth_icontrol_admin_ldap_displayNameAttr}}"

# server's key store for partners
auth.icontrol.keystore="{{auth_icontrol_keystore}}"
auth.icontrol.sigCert="{{auth_icontrol_sigCert}}"
auth.icontrol.ksPassword="{{auth_icontrol_ksPassword}}"
auth.icontrol.sigKeyAlias="{{auth_icontrol_sigKeyAlias}}"
auth.icontrol.sigKeyPassword="{{auth_icontrol_sigKeyPassword}}"
