###############################################################################
# This is the machine-specific file
# which is used to configure the server back end.
###############################################################################

###############################################################################
# Session server properties
###############################################################################
#  actual hostname of this session server. Will be used for gw tap
com.icontrol.session.server.hostname= "{{session_server_hostname}}"

# external IP of this session server for use in communication with Lightweight
# Gateway GPRS panels
com.icontrol.session.server.externalip= "{{session_server_externalip}}"
com.icontrol.session.server.externallifestyleport= "{{session_server_externallifestyleport}}"
com.icontrol.session.server.externalecpport= "{{session_server_externalecpport}}"