###############################################################################
# This is the global data-center (or server-cluster-specific) file
# which is used to configure the server back end.
###############################################################################


# This is the current services file
servicesFile= "{{services_File}}"

# how often to monitor status URLs in the services.xml file
servicesMonitorSecs= "{{services_Monitor_Secs}}"

# how often to monitor services.xml file
servicesFileMonitorSecs= "{{services_File_Monitor_Secs}}"

# Internal services.  They are required for 4-tier service.
# gatewayRegistryServerURL = http://server.icontrol.com/rc
com.icontrol.iphone.url= "{{iphone_url}}"

# The default mail server.
# This is used if there are no partner-specific servers configured.
# localhost or other outbound SMTP Server
smtpServer =  "{{smtp_Server}}"

#
# Location of the dictionary password complexity rule file.
# this file should be newline delimited, no leading or trailing spaces.
#
com.icontrol.dictionary.words =  "{{dictionary_words}}"

###############################################################################
#  Gateway Service
##############################################################################

# session server basic auth used for server tap via session server
sessionServerUser =  "{{sessionServer_User}}"
sessionServerPass =  "{{sessionServer_Pass}}"


###############################################################################
# Relay API properties
###############################################################################


# user/pass stored in /data/ic/tomcat/conf/tomcat-users.xml
relayServerLogin= "{{relayServer_Login}}"
relayServerPass= "{{relayServer_Pass}}"


###############################################################################
# SMS Gateway properties
###############################################################################
smsgateway.deviceSmsService= "{{smsgateway_device_Sms_Service}}"
smsgateway.emailfrom= "{{smsgateway_email_from}}"
smsgateway.numerex.dcws.host= "{{smsgateway_numerex_dcws_host}}"
smsgateway.numerex.dcws.user= "{{smsgateway_numerex_dcws_user}}"
smsgateway.numerex.dcws.pass= "{{smsgateway_numerex_dcws_pass}}"


###############################################################################
# Partner-specific configs
###############################################################################

#Provider Setup
partner.icontrol.provider.numberOfLevels= "{{partner_icontrol_provider_numberOfLevels}}"

# Partner specific mail servers.
# These are of the form:  partner.<partnerId>.smtp.host
# and  partner.<partnerId>.smtp.port
# If no port is specified the smtp port defaults to 25.
#
# partner.icontrol.smtp.host = localhost
# partner.icontrol.smtp.port = 25

###############################################################################
# Retention Daemon configs
###############################################################################

# which user dbs to trim
retention.icontrol.userdbs= "{{retention_icontrol_userdbs}}"

# which network dbs to trim
retention.icontrol.networkdbs= "{{retention_icontrol_networkdbs}}"


#############################################################################
# Global configs
#############################################################################

# The default partner used everywhere (gateway service, admin, etc)
com.icontrol.csr.partner= "{{csr_partner}}"
com.icontrol.partner.default= "{{partner_default}}"

# comma-delimited list of class paths to create as event listeners
com.icontrol.server.eventbus.manager.listeners="{{server_eventbus_manager_listeners}}"

#############################################################################
# URLs for login to web and mobile portals for each partner for email
# notifications.
# The second component of the property name should be the partner name.
#############################################################################

partner.icontrol.notifications.portal.login =  "{{partner_icontrol_notifications_portal_login}}"

partner.icontrol.notifications.mobile.login =  "{{partner_icontrol_notifications_mobile_login}}"

notifications.messageInSubject= "{{notifications_message_In_Subject}}"

###############################################################################
# Health and status check remote client address filter configuration (regex)
# - The deny list takes precedence over allow list when both match
###############################################################################

# deny list (comma-separated java-style regex)
#com.icontrol.remoteAddrFilter.deny =

# allow list (comma-separated java-style regex)
#com.icontrol.remoteAddrFilter.allow =

#############################################################################
# Proxy configurations for web services
#############################################################################
#com.icontrol.cms.access.proxy = :
#com.icontrol.flickr.access.proxy = :

#############################################################################
# Any Partner related tweaks can be added in PARTNERGLOBALSERVERPROP which
# will be expanded here. When not defined, it will be expanded to an # not used
#############################################################################
# not used

###############################################################################
# Ehcache Member Daemon properties
###############################################################################

# true on app, gapp, pgapp
# false on relay, session, wrs
com.icontrol.cache.ehcache.memberdaemonactive=  "{{cache_ehcache_member_daemon_active}}"

#############################################################################
# IP address masks for using sms.war
#
# SMSOUTIPADDRESSMASK
# - IP addresses that should be able to send sms messages
# - on distributed env app servers, use 0.0.0.0/0 (all clients)
# - on distributed env gapp servers, use 255.255.255.255/32 (no clients)
# - on other env configs, use IP address mask for all local servers eg. 10.150.101.0/24
#
# SMSINIPADDRESSMASK
# - IP addresses that should be able to call back into server (from sms aggregator)
# - for any IP use 0.0.0.0/0 (all clients)
# - for openmarket only, use IP mask for openmarket servers
#############################################################################
smsInIPAddressMask= "{{sms_In_IP_Address_Mask}}"
smsOutIPAddressMask= "{{sms_Out_IP_Address_Mask}}"


###############################################################################
# Rest Service Configs
###############################################################################

####
#  Partner Device Registry
####
# this is no longer dynamic
# ex. gatewayRegistryRestAdminURL=https://adminsirius3.icontrol.com/rest
 gatewayRegistryRestAdminURL =  "{{gateway_Registry_Rest_Admin_URL}}"
com.icontrol.rest.registry.login=  "{{rest_registry_login}}"
com.icontrol.rest.registry.password=  "{{rest_registry_password}}"
# this should be icontrol when using icontrol's global device registry
com.icontrol.rest.registry.partner=  "{{rest_registry_partner}}"
com.icontrol.rest.registry.enabled= "{{rest_registry_enabled}}"

####
#  IC Device Registry
####
com.icontrol.rest.icregistry.login= "{{rest_icregistry_login}}"
com.icontrol.rest.icregistry.password= "{{rest_icregistry_password}}"
# this should be icontrol when using icontrol's global device registry
# com.icontrol.rest.icregistry.partner=icontrol
# com.icontrol.rest.icregistry.url=https://admin-device.icontrol.com/rest



###############################################################################
# Media Server Separation (MSS)
###############################################################################
#
# Properties designated for MSS multiple environment support:
#           FQDN : service domain name for media upload to the environment
#    Environment : M-1 relationship with Partner, must be unique
#     Credential : used in RemoteServer, space as the value delimiter
#        Cluster : network cluster for NFS mount
#       KeyAlias : keystore alias/secret pair separated by a space
#        KeyPass : optional column
#              # : sequential line number
#
#   Property     #  Environment     FQDN     Partner   Cluster       Credential         URL          KeyAlias   KeyPass
#   --------     -  -----------  ----------  --------  ---------  ---------------  ----------------  ---------  --------
#home.server.1 = 1,  dev001, ms1.domain.com, icontrol, icontrol1, robert icontrol, https://portal-dev001.icontrol.com/rest, a1 s1,
#home.server.2 = 2,   vega2, ms2.domain.com, icontrol, icontrol2, robert 12345678, https://portal-vega2.icontrol.com/rest,  a2 s2,
#home.server.3 = 3, sirius3, ms3.domain.com, icontrol, icontrol3, robert password, https://portalsirius3.icontrol.com/rest, a3 s3,


# cookie domain for the partner's media servers
partner.cookie.domain= "{{partner_cookie_domain}}"

# the checking interval (in milliseconds) for the revocation list of secure tokens
# revocation.list.check.interval=

# Zookeeper ensemble:
# normally it's 1-1 relationship between media server and zookeeper server
# e.g. vega:2181,vega2:2181,sirius3:2181
# zookeeper.server.ensemble=

# Zookeeper default partner:
# This property is specifically for multiple-partners environment like ADT/ADTCA, where
# the value of com.icontrol.partner.default is not specified.
# zookeeper.server.partner=icontrol

# Media file name prefix:
# icontrol.media.filename.prefix=

# the partner's network cluster name, e.g. icontrol1
# icontrol.network.cluster=

# HTTP cache age (in seconds) of content sourced by media server (1800 by default)
# com.icontrol.rest.mediaserver.cacheage=1800

###############################################################################
# Placeholders for additional properties, or overridden default values
###############################################################################



# PPS is in the system
com.icontrol.pps.enabled =  "{{pps_enabled}}"
com.icontrol.cmsintegration.enabled =  "{{cms_integration_enabled}}"

#############################################################################
# Supported HD Tunneling Camera's for LWGW
#############################################################################
com.icontrol.lwgw.openhome.hd.cameramodels= "{{lwgw_openhome_hd_camera_models}}"

#############################################################################
# Supported Provisioning Profiles for LWGW Tunneling Camera's
#############################################################################
com.icontrol.ops.provisionprofile.devices =  "{{ops_provisionprofile_devices}}"
com.icontrol.ops.provisionprofile.XMPP431ProvisionProfile.name =  "{{ops_provisionprofile_XMPP431ProvisionProfile_name}}"
com.icontrol.ops.provisionprofile.XMPP431ProvisionProfile.technology =  "{{ops_provisionprofile_XMPP431ProvisionProfile_technology}}"
com.icontrol.ops.provisionprofile.XMPP431ProvisionProfile.type =  "{{ops_provisionprofile_XMPP431ProvisionProfile_type :  LWG_SerComm_431
}}"
com.icontrol.ops.provisionprofile.impl.XMPP.LWG_SerComm_431.type =  "{{ops_provisionprofile_impl_XMPP_LWG_SerComm_431_type}}"

#############################################################################
# Support for 3gucSharedKey
#############################################################################
3gucSharedKey =  "{{3guc_Shared_Key}}"

#############################################################################
# Smash And Grab properties
#############################################################################
com.icontrol.sg.feature.enabled =  "{{sg_feature_enabled}}"
smash.grab.topic =  "{{smash_grab_topic}}"
sg.entry.delay =  "{{sg_entry_delay}}"
#############################################################################
#Limit threadpool size
#############################################################################
com.icontrol.util.taskqueue.mainthreadpoolsize =  "{{util_taskqueue_mainthreadpoolsize}}"
com.icontrol.mailer.maxQueueSize =  "{{mailer_maxQueueSize}}"
com.icontrol.server.datamanagerdb.logthreadpoolsize =  "{{server_datamanagerdb_logthreadpoolsize}}"
com.icontrol.session.server.lwgateway.resumethreadpoolsize =  "{{session_server_lwgateway_resumethreadpoolsize}}"
