# Nightly report properties
#
# USE
#
# Any parameter that is a date (recognized by containing the string DATE)
# must be expressed as a relative date in plain English -- eg 'today', '30 days ago', '1 month ago'

com.icontrol.report.nightly.ave_daily_usage_per_site.name= "{{ report_nightly_ave_daily_usage_per_site_name }}"
com.icontrol.report.nightly.ave_daily_usage_per_site.format= "{{ report_nightly_ave_daily_usage_per_site_format }}"
com.icontrol.report.nightly.ave_daily_usage_per_site.partner= "{{report_nightly_ave_daily_usage_per_site_partner}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.cluster= "{{report_nightly_ave_daily_usage_per_site_cluster}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.schema= "{{report_nightly_ave_daily_usage_per_site_schema}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.START_DATE= "{{report_nightly_ave_daily_usage_per_site_START_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.END_DATE= "{{report_nightly_ave_daily_usage_per_site_END_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.OTHER_PARAM= "{{report_nightly_ave_daily_usage_per_site_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.SELECT_ALL= "{{report_nightly_ave_daily_usage_per_site_SELECT_ALL}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.EXCLUDE= "{{report_nightly_ave_daily_usage_per_site_EXCLUDE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.EXCLUDE_GROUPID= "{{report_nightly_ave_daily_usage_per_site_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_daily_usage_per_site.suffix= "{{report_nightly_ave_daily_usage_per_site_suffix}}"

com.icontrol.report.nightly.ave_daily_usage_per_site_ex.name= "{{report_nightly_ave_daily_usage_per_site_ex_name}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.format= "{{report_nightly_ave_daily_usage_per_site_ex_format}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.partner= "{{report_nightly_ave_daily_usage_per_site_ex_partner}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.cluster= "{{report_nightly_ave_daily_usage_per_site_ex_cluster}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.schema= "{{report_nightly_ave_daily_usage_per_site_ex_schema}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.START_DATE= "{{report_nightly_ave_daily_usage_per_site_ex_START_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.END_DATE= "{{report_nightly_ave_daily_usage_per_site_ex_END_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.OTHER_PARAM= "{{report_nightly_ave_daily_usage_per_site_ex_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.SELECT_ALL= "{{report_nightly_ave_daily_usage_per_site_ex_SELECT_ALL}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.EXCLUDE= "{{report_nightly_ave_daily_usage_per_site_ex_EXCLUDE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.EXCLUDE_GROUPID= "{{report_nightly_ave_daily_usage_per_site_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_ex.suffix= "{{report_nightly_ave_daily_usage_per_site_ex_suffix}}"

com.icontrol.report.nightly.ave_daily_usage_per_site_inc.name= "{{report_nightly_ave_daily_usage_per_site_inc_name}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.format= "{{report_nightly_ave_daily_usage_per_site_inc_format}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.partner= "{{report_nightly_ave_daily_usage_per_site_inc_partner}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.cluster= "{{report_nightly_ave_daily_usage_per_site_inc_cluster}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.schema= "{{report_nightly_ave_daily_usage_per_site_inc_schema}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.START_DATE= "{{report_nightly_ave_daily_usage_per_site_inc_START_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.END_DATE= "{{report_nightly_ave_daily_usage_per_site_inc_END_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.OTHER_PARAM= "{{report_nightly_ave_daily_usage_per_site_inc_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.SELECT_ALL= "{{report_nightly_ave_daily_usage_per_site_inc_SELECT_ALL}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.EXCLUDE= "{{report_nightly_ave_daily_usage_per_site_inc_EXCLUDE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.EXCLUDE_GROUPID= "{{report_nightly_ave_daily_usage_per_site_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_inc.suffix= "{{report_nightly_ave_daily_usage_per_site_inc_suffix}}"

com.icontrol.report.nightly.ave_daily_usage_per_site_csv.name= "{{report_nightly_ave_daily_usage_per_site_csv_name}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.format= "{{report_nightly_ave_daily_usage_per_site_csv_format}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.partner= "{{report_nightly_ave_daily_usage_per_site_csv_partner}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.cluster= "{{report_nightly_ave_daily_usage_per_site_csv_cluster}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.schema= "{{report_nightly_ave_daily_usage_per_site_csv_schema}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.START_DATE= "{{report_nightly_ave_daily_usage_per_site_csv_START_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.END_DATE= "{{report_nightly_ave_daily_usage_per_site_csv_END_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.OTHER_PARAM= "{{report_nightly_ave_daily_usage_per_site_csv_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.SELECT_ALL= "{{report_nightly_ave_daily_usage_per_site_csv_SELECT_ALL}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.EXCLUDE= "{{report_nightly_ave_daily_usage_per_site_csv_EXCLUDE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.EXCLUDE_GROUPID= "{{report_nightly_ave_daily_usage_per_site_csv_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv.suffix= "{{report_nightly_ave_daily_usage_per_site_csv_suffix}}"

com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.name= "{{report_nightly_ave_daily_usage_per_site_csv_ex_name}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.format= "{{report_nightly_ave_daily_usage_per_site_csv_ex_format}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.partner= "{{report_nightly_ave_daily_usage_per_site_csv_ex_partner}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.cluster= "{{report_nightly_ave_daily_usage_per_site_csv_ex_cluster}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.schema= "{{report_nightly_ave_daily_usage_per_site_csv_ex_schema}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.START_DATE= "{{report_nightly_ave_daily_usage_per_site_csv_ex_START_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.END_DATE= "{{report_nightly_ave_daily_usage_per_site_csv_ex_END_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.OTHER_PARAM= "{{report_nightly_ave_daily_usage_per_site_csv_ex_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.SELECT_ALL= "{{report_nightly_ave_daily_usage_per_site_csv_ex_SELECT_ALL}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.EXCLUDE= "{{report_nightly_ave_daily_usage_per_site_csv_ex_EXCLUDE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.EXCLUDE_GROUPID= "{{report_nightly_ave_daily_usage_per_site_csv_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_ex.suffix= "{{report_nightly_ave_daily_usage_per_site_csv_ex_suffix}}"

com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.name="{{report_nightly_ave_daily_usage_per_site_csv_inc_name}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.format="{{report_nightly_ave_daily_usage_per_site_csv_inc_format}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.partner="{{report_nightly_ave_daily_usage_per_site_csv_inc_partner}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.cluster="{{report_nightly_ave_daily_usage_per_site_csv_inc_cluster}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.schema="{{report_nightly_ave_daily_usage_per_site_csv_inc_schema}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.START_DATE="{{report_nightly_ave_daily_usage_per_site_csv_inc_START_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.END_DATE="{{report_nightly_ave_daily_usage_per_site_csv_inc_END_DATE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.OTHER_PARAM="{{report_nightly_ave_daily_usage_per_site_csv_inc_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.SELECT_ALL="{{report_nightly_ave_daily_usage_per_site_csv_inc_SELECT_ALL}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.EXCLUDE="{{report_nightly_ave_daily_usage_per_site_csv_inc_EXCLUDE}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.EXCLUDE_GROUPID="{{report_nightly_ave_daily_usage_per_site_csv_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_daily_usage_per_site_csv_inc.suffix="{{report_nightly_ave_daily_usage_per_site_csv_inc_suffix}}"

com.icontrol.report.nightly.ave_sched_alrm_auto.name="{{report_nightly_ave_sched_alrm_auto_name}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.format="{{report_nightly_ave_sched_alrm_auto_format}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.partner="{{report_nightly_ave_sched_alrm_auto_partner}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.cluster="{{report_nightly_ave_sched_alrm_auto_cluster}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.schema="{{report_nightly_ave_sched_alrm_auto_schema}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.START_DATE="{{report_nightly_ave_sched_alrm_auto_START_DATE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.END_DATE="{{report_nightly_ave_sched_alrm_auto_END_DATE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.OTHER_PARAM="{{report_nightly_ave_sched_alrm_auto_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.SELECT_ALL="{{report_nightly_ave_sched_alrm_auto_SELECT_ALL}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.EXCLUDE_GROUPID="{{report_nightly_ave_sched_alrm_auto_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.EXCLUDE="{{report_nightly_ave_sched_alrm_auto_EXCLUDE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto.suffix="{{report_nightly_ave_sched_alrm_auto_suffix}}"

com.icontrol.report.nightly.ave_sched_alrm_auto_ex.name="{{report_nightly_ave_sched_alrm_auto_ex_name}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.format="{{report_nightly_ave_sched_alrm_auto_ex_format}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.partner="{{report_nightly_ave_sched_alrm_auto_ex_partner}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.cluster="{{report_nightly_ave_sched_alrm_auto_ex_cluster}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.schema="{{report_nightly_ave_sched_alrm_auto_ex_schema}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.START_DATE="{{report_nightly_ave_sched_alrm_auto_ex_START_DATE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.END_DATE="{{report_nightly_ave_sched_alrm_auto_ex_END_DATE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.OTHER_PARAM="{{report_nightly_ave_sched_alrm_auto_ex_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.SELECT_ALL="{{report_nightly_ave_sched_alrm_auto_ex_SELECT_ALL}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.EXCLUDE_GROUPID="{{report_nightly_ave_sched_alrm_auto_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.EXCLUDE="{{report_nightly_ave_sched_alrm_auto_ex_EXCLUDE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_ex.suffix="{{report_nightly_ave_sched_alrm_auto_ex_suffix}}"

com.icontrol.report.nightly.ave_sched_alrm_auto_inc.name="{{report_nightly_ave_sched_alrm_auto_inc_name}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.format="{{report_nightly_ave_sched_alrm_auto_inc_format}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.partner="{{report_nightly_ave_sched_alrm_auto_inc_partner}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.cluster="{{report_nightly_ave_sched_alrm_auto_inc_cluster}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.schema="{{report_nightly_ave_sched_alrm_auto_inc_schema}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.START_DATE="{{report_nightly_ave_sched_alrm_auto_inc_START_DATE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.END_DATE="{{report_nightly_ave_sched_alrm_auto_inc_END_DATE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.OTHER_PARAM="{{report_nightly_ave_sched_alrm_auto_inc_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.SELECT_ALL="{{report_nightly_ave_sched_alrm_auto_inc_SELECT_ALL}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.EXCLUDE_GROUPID="{{report_nightly_ave_sched_alrm_auto_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.EXCLUDE="{{report_nightly_ave_sched_alrm_auto_inc_EXCLUDE}}"
com.icontrol.report.nightly.ave_sched_alrm_auto_inc.suffix="{{report_nightly_ave_sched_alrm_auto_inc_suffix}}"

com.icontrol.report.nightly.ave_email_alerts_per_site.name="{{report_nightly_ave_email_alerts_per_site_name}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.format="{{report_nightly_ave_email_alerts_per_site_format}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.partner="{{report_nightly_ave_email_alerts_per_site_partner}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.cluster="{{report_nightly_ave_email_alerts_per_site_cluster}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.schema="{{report_nightly_ave_email_alerts_per_site_schema}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.START_DATE="{{report_nightly_ave_email_alerts_per_site_START_DATE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.END_DATE="{{report_nightly_ave_email_alerts_per_site_END_DATE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.OTHER_PARAM="{{report_nightly_ave_email_alerts_per_site_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.SELECT_ALL="{{report_nightly_ave_email_alerts_per_site_SELECT_ALL}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.EXCLUDE_GROUPID="{{report_nightly_ave_email_alerts_per_site_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.EXCLUDE="{{report_nightly_ave_email_alerts_per_site_EXCLUDE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site.suffix="{{report_nightly_ave_email_alerts_per_site_suffix}}"

com.icontrol.report.nightly.ave_email_alerts_per_site_ex.name="{{report_nightly_ave_email_alerts_per_site_ex_name}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.format="{{report_nightly_ave_email_alerts_per_site_ex_format}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.partner="{{report_nightly_ave_email_alerts_per_site_ex_partner}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.cluster="{{report_nightly_ave_email_alerts_per_site_ex_cluster}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.schema="{{report_nightly_ave_email_alerts_per_site_ex_schema}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.START_DATE="{{report_nightly_ave_email_alerts_per_site_ex_START_DATE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.END_DATE="{{report_nightly_ave_email_alerts_per_site_ex_END_DATE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.OTHER_PARAM="{{report_nightly_ave_email_alerts_per_site_ex_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.SELECT_ALL="{{report_nightly_ave_email_alerts_per_site_ex_SELECT_ALL}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.EXCLUDE_GROUPID="{{report_nightly_ave_email_alerts_per_site_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.EXCLUDE="{{report_nightly_ave_email_alerts_per_site_ex_EXCLUDE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_ex.suffix="{{report_nightly_ave_email_alerts_per_site_ex_suffix}}"

com.icontrol.report.nightly.ave_email_alerts_per_site_inc.name="{{report_nightly_ave_email_alerts_per_site_inc_name}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.format="{{report_nightly_ave_email_alerts_per_site_inc_format}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.partner="{{report_nightly_ave_email_alerts_per_site_inc_partner}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.cluster="{{report_nightly_ave_email_alerts_per_site_inc_cluster}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.schema="{{report_nightly_ave_email_alerts_per_site_inc_schema}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.START_DATE="{{report_nightly_ave_email_alerts_per_site_inc_START_DATE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.END_DATE="{{report_nightly_ave_email_alerts_per_site_inc_END_DATE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.OTHER_PARAM="{{report_nightly_ave_email_alerts_per_site_inc_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.SELECT_ALL="{{report_nightly_ave_email_alerts_per_site_inc_SELECT_ALL}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.EXCLUDE_GROUPID="{{report_nightly_ave_email_alerts_per_site_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.EXCLUDE="{{report_nightly_ave_email_alerts_per_site_inc_EXCLUDE}}"
com.icontrol.report.nightly.ave_email_alerts_per_site_inc.suffix="{{report_nightly_ave_email_alerts_per_site_inc_suffix}}"

com.icontrol.report.nightly.ave_sms_alerts_per_site.name="{{report_nightly_ave_sms_alerts_per_site_name}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.format="{{report_nightly_ave_sms_alerts_per_site_format}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.partner="{{report_nightly_ave_sms_alerts_per_site_partner}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.cluster="{{report_nightly_ave_sms_alerts_per_site_cluster}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.schema="{{report_nightly_ave_sms_alerts_per_site_schema}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.START_DATE="{{report_nightly_ave_sms_alerts_per_site_START_DATE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.END_DATE="{{report_nightly_ave_sms_alerts_per_site_END_DATE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.OTHER_PARAM="{{report_nightly_ave_sms_alerts_per_site_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.SELECT_ALL="{{report_nightly_ave_sms_alerts_per_site_SELECT_ALL}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.EXCLUDE_GROUPID="{{report_nightly_ave_sms_alerts_per_site_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.EXCLUDE="{{report_nightly_ave_sms_alerts_per_site_EXCLUDE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site.suffix="{{report_nightly_ave_sms_alerts_per_site_suffix}}"

com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.name="{{report_nightly_ave_sms_alerts_per_site_ex_name}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.format="{{report_nightly_ave_sms_alerts_per_site_ex_format}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.partner="{{report_nightly_ave_sms_alerts_per_site_ex_partner}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.cluster="{{report_nightly_ave_sms_alerts_per_site_ex_cluster}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.schema="{{report_nightly_ave_sms_alerts_per_site_ex_schema}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.START_DATE="{{report_nightly_ave_sms_alerts_per_site_ex_START_DATE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.END_DATE="{{report_nightly_ave_sms_alerts_per_site_ex_END_DATE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.OTHER_PARAM="{{report_nightly_ave_sms_alerts_per_site_ex_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.SELECT_ALL="{{report_nightly_ave_sms_alerts_per_site_ex_SELECT_ALL}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.EXCLUDE_GROUPID="{{report_nightly_ave_sms_alerts_per_site_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.EXCLUDE="{{report_nightly_ave_sms_alerts_per_site_ex_EXCLUDE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_ex.suffix="{{report_nightly_ave_sms_alerts_per_site_ex_suffix}}"

com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.name="{{report_nightly_ave_sms_alerts_per_site_inc_name}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.format="{{report_nightly_ave_sms_alerts_per_site_inc_format}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.partner="{{report_nightly_ave_sms_alerts_per_site_inc_partner}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.cluster="{{report_nightly_ave_sms_alerts_per_site_inc_cluster}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.schema="{{report_nightly_ave_sms_alerts_per_site_inc_schema}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.START_DATE="{{report_nightly_ave_sms_alerts_per_site_inc_START_DATE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.END_DATE="{{report_nightly_ave_sms_alerts_per_site_inc_END_DATE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.OTHER_PARAM="{{report_nightly_ave_sms_alerts_per_site_inc_OTHER_PARAM}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.SELECT_ALL="{{report_nightly_ave_sms_alerts_per_site_inc_SELECT_ALL}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.EXCLUDE_GROUPID="{{report_nightly_ave_sms_alerts_per_site_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.EXCLUDE="{{report_nightly_ave_sms_alerts_per_site_inc_EXCLUDE}}"
com.icontrol.report.nightly.ave_sms_alerts_per_site_inc.suffix="{{report_nightly_ave_sms_alerts_per_site_inc_suffix}}"

com.icontrol.report.nightly.r1.name="{{report_nightly_r1_name}}"
com.icontrol.report.nightly.r1.format="{{report_nightly_r1_format}}"
com.icontrol.report.nightly.r1.partner="{{report_nightly_r1_partner}}"
com.icontrol.report.nightly.r1.cluster="{{report_nightly_r1_cluster}}"
com.icontrol.report.nightly.r1.schema="{{report_nightly_r1_schema}}"
com.icontrol.report.nightly.r1.START_DATE="{{report_nightly_r1_START_DATE}}"
com.icontrol.report.nightly.r1.END_DATE="{{report_nightly_r1_END_DATE}}"
com.icontrol.report.nightly.r1.SELECT_ALL="{{report_nightly_r1_SELECT_ALL}}"
com.icontrol.report.nightly.r1.EXCLUDE_GROUPID="{{report_nightly_r1_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r1.EXCLUDE="{{report_nightly_r1_EXCLUDE}}"
com.icontrol.report.nightly.r1.suffix="{{report_nightly_r1_suffix}}"

com.icontrol.report.nightly.r1_ex.name="{{report_nightly_r1_ex_name}}"
com.icontrol.report.nightly.r1_ex.format="{{report_nightly_r1_ex_format}}"
com.icontrol.report.nightly.r1_ex.partner="{{report_nightly_r1_ex_partner}}"
com.icontrol.report.nightly.r1_ex.cluster="{{report_nightly_r1_ex_cluster}}"
com.icontrol.report.nightly.r1_ex.schema="{{report_nightly_r1_ex_schema}}"
com.icontrol.report.nightly.r1_ex.START_DATE="{{report_nightly_r1_ex_START_DATE}}"
com.icontrol.report.nightly.r1_ex.END_DATE="{{report_nightly_r1_ex_END_DATE}}"
com.icontrol.report.nightly.r1_ex.SELECT_ALL="{{report_nightly_r1_ex_SELECT_ALL}}"
com.icontrol.report.nightly.r1_ex.EXCLUDE_GROUPID="{{report_nightly_r1_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r1_ex.EXCLUDE="{{report_nightly_r1_ex_EXCLUDE}}"
com.icontrol.report.nightly.r1_ex.suffix="{{report_nightly_r1_ex_suffix}}"

com.icontrol.report.nightly.r1_inc.name="{{report_nightly_r1_inc_name}}"
com.icontrol.report.nightly.r1_inc.format="{{report_nightly_r1_inc_format}}"
com.icontrol.report.nightly.r1_inc.partner="{{report_nightly_r1_inc_partner}}"
com.icontrol.report.nightly.r1_inc.cluster="{{report_nightly_r1_inc_cluster}}"
com.icontrol.report.nightly.r1_inc.schema="{{report_nightly_r1_inc_schema}}"
com.icontrol.report.nightly.r1_inc.START_DATE="{{report_nightly_r1_inc_START_DATE}}"
com.icontrol.report.nightly.r1_inc.END_DATE="{{report_nightly_r1_inc_END_DATE}}"
com.icontrol.report.nightly.r1_inc.SELECT_ALL="{{report_nightly_r1_inc_SELECT_ALL}}"
com.icontrol.report.nightly.r1_inc.EXCLUDE_GROUPID="{{report_nightly_r1_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r1_inc.EXCLUDE="{{report_nightly_r1_inc_EXCLUDE}}"
com.icontrol.report.nightly.r1_inc.suffix="{{report_nightly_r1_inc_suffix}}"

com.icontrol.report.nightly.r2.name="{{report_nightly_r2_name}}"
com.icontrol.report.nightly.r2.format="{{report_nightly_r2_format}}"
com.icontrol.report.nightly.r2.partner="{{report_nightly_r2_partner}}"
com.icontrol.report.nightly.r2.cluster="{{report_nightly_r2_cluster}}"
com.icontrol.report.nightly.r2.schema="{{report_nightly_r2_schema}}"
com.icontrol.report.nightly.r2.START_DATE="{{report_nightly_r2_START_DATE}}"
com.icontrol.report.nightly.r2.END_DATE="{{report_nightly_r2_END_DATE}}"
com.icontrol.report.nightly.r2.SELECT_ALL="{{report_nightly_r2_SELECT_ALL}}"
com.icontrol.report.nightly.r2.EXCLUDE_GROUPID="{{report_nightly_r2_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r2.EXCLUDE="{{report_nightly_r2_EXCLUDE}}"
com.icontrol.report.nightly.r2.suffix="{{report_nightly_r2_suffix}}"

com.icontrol.report.nightly.r2_ex.name="{{report_nightly_r2_ex_name}}"
com.icontrol.report.nightly.r2_ex.format="{{report_nightly_r2_ex_format}}"
com.icontrol.report.nightly.r2_ex.partner="{{report_nightly_r2_ex_partner}}"
com.icontrol.report.nightly.r2_ex.cluster="{{report_nightly_r2_ex_cluster}}"
com.icontrol.report.nightly.r2_ex.schema="{{report_nightly_r2_ex_schema}}"
com.icontrol.report.nightly.r2_ex.START_DATE="{{report_nightly_r2_ex_START_DATE}}"
com.icontrol.report.nightly.r2_ex.END_DATE="{{report_nightly_r2_ex_END_DATE}}"
com.icontrol.report.nightly.r2_ex.SELECT_ALL="{{report_nightly_r2_ex_SELECT_ALL}}"
com.icontrol.report.nightly.r2_ex.EXCLUDE_GROUPID="{{report_nightly_r2_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r2_ex.EXCLUDE="{{report_nightly_r2_ex_EXCLUDE}}"
com.icontrol.report.nightly.r2_ex.suffix="{{report_nightly_r2_ex_suffix}}"

com.icontrol.report.nightly.r2_inc.name="{{report_nightly_r2_inc_name}}"
com.icontrol.report.nightly.r2_inc.format="{{report_nightly_r2_inc_format}}"
com.icontrol.report.nightly.r2_inc.partner="{{report_nightly_r2_inc_partner}}"
com.icontrol.report.nightly.r2_inc.cluster="{{report_nightly_r2_inc_cluster}}"
com.icontrol.report.nightly.r2_inc.schema="{{report_nightly_r2_inc_schema}}"
com.icontrol.report.nightly.r2_inc.START_DATE="{{report_nightly_r2_inc_START_DATE}}"
com.icontrol.report.nightly.r2_inc.END_DATE="{{report_nightly_r2_inc_END_DATE}}"
com.icontrol.report.nightly.r2_inc.SELECT_ALL="{{report_nightly_r2_inc_SELECT_ALL}}"
com.icontrol.report.nightly.r2_inc.EXCLUDE_GROUPID="{{report_nightly_r2_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r2_inc.EXCLUDE="{{report_nightly_r2_inc_EXCLUDE}}"
com.icontrol.report.nightly.r2_inc.suffix="{{report_nightly_r2_inc_suffix}}"

com.icontrol.report.nightly.r3.name="{{report_nightly_r3_name}}"
com.icontrol.report.nightly.r3.format="{{report_nightly_r3_format}}"
com.icontrol.report.nightly.r3.partner="{{report_nightly_r3_partner}}"
com.icontrol.report.nightly.r3.cluster="{{report_nightly_r3_cluster}}"
com.icontrol.report.nightly.r3.schema="{{report_nightly_r3_schema}}"
com.icontrol.report.nightly.r3.START_DATE="{{report_nightly_r3_START_DATE}}"
com.icontrol.report.nightly.r3.END_DATE="{{report_nightly_r3_END_DATE}}"
com.icontrol.report.nightly.r3.SELECT_ALL="{{report_nightly_r3_SELECT_ALL}}"
com.icontrol.report.nightly.r3.EXCLUDE_GROUPID="{{report_nightly_r3_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r3.EXCLUDE="{{report_nightly_r3_EXCLUDE}}"
com.icontrol.report.nightly.r3.suffix="{{report_nightly_r3_suffix}}"

com.icontrol.report.nightly.r3_ex.name="{{report_nightly_r3_ex_name}}"
com.icontrol.report.nightly.r3_ex.format="{{report_nightly_r3_ex_format}}"
com.icontrol.report.nightly.r3_ex.partner="{{report_nightly_r3_ex_partner}}"
com.icontrol.report.nightly.r3_ex.cluster="{{report_nightly_r3_ex_cluster}}"
com.icontrol.report.nightly.r3_ex.schema="{{report_nightly_r3_ex_schema}}"
com.icontrol.report.nightly.r3_ex.START_DATE="{{report_nightly_r3_ex_START_DATE}}"
com.icontrol.report.nightly.r3_ex.END_DATE="{{report_nightly_r3_ex_END_DATE}}"
com.icontrol.report.nightly.r3_ex.SELECT_ALL="{{report_nightly_r3_ex_SELECT_ALL}}"
com.icontrol.report.nightly.r3_ex.EXCLUDE_GROUPID="{{report_nightly_r3_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r3_ex.EXCLUDE="{{report_nightly_r3_ex_EXCLUDE}}"
com.icontrol.report.nightly.r3_ex.suffix="{{report_nightly_r3_ex_suffix}}"

com.icontrol.report.nightly.r3_inc.name="{{report_nightly_r3_inc_name}}"
com.icontrol.report.nightly.r3_inc.format="{{report_nightly_r3_inc_format}}"
com.icontrol.report.nightly.r3_inc.partner="{{report_nightly_r3_inc_partner}}"
com.icontrol.report.nightly.r3_inc.cluster="{{report_nightly_r3_inc_cluster}}"
com.icontrol.report.nightly.r3_inc.schema="{{report_nightly_r3_inc_schema}}"
com.icontrol.report.nightly.r3_inc.START_DATE="{{report_nightly_r3_inc_START_DATE}}"
com.icontrol.report.nightly.r3_inc.END_DATE="{{report_nightly_r3_inc_END_DATE}}"
com.icontrol.report.nightly.r3_inc.SELECT_ALL="{{report_nightly_r3_inc_SELECT_ALL}}"
com.icontrol.report.nightly.r3_inc.EXCLUDE_GROUPID="{{report_nightly_r3_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r3_inc.EXCLUDE="{{report_nightly_r3_inc_EXCLUDE}}"
com.icontrol.report.nightly.r3_inc.suffix="{{report_nightly_r3_inc_suffix}}"

com.icontrol.report.nightly.r4.name="{{report_nightly_r4_name}}"
com.icontrol.report.nightly.r4.format="{{report_nightly_r4_format}}"
com.icontrol.report.nightly.r4.partner="{{report_nightly_r4_partner}}"
com.icontrol.report.nightly.r4.cluster="{{report_nightly_r4_cluster}}"
com.icontrol.report.nightly.r4.schema="{{report_nightly_r4_schema}}"
com.icontrol.report.nightly.r4.START_DATE="{{report_nightly_r4_START_DATE}}"
com.icontrol.report.nightly.r4.END_DATE="{{report_nightly_r4_END_DATE}}"
com.icontrol.report.nightly.r4.SELECT_ALL="{{report_nightly_r4_SELECT_ALL}}"
com.icontrol.report.nightly.r4.EXCLUDE_GROUPID="{{report_nightly_r4_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r4.EXCLUDE="{{report_nightly_r4_EXCLUDE}}"
com.icontrol.report.nightly.r4.suffix="{{report_nightly_r4_suffix}}"

com.icontrol.report.nightly.r4_ex.name="{{report_nightly_r4_ex_name}}"
com.icontrol.report.nightly.r4_ex.format="{{report_nightly_r4_ex_format}}"
com.icontrol.report.nightly.r4_ex.partner="{{report_nightly_r4_ex_partner}}"
com.icontrol.report.nightly.r4_ex.cluster="{{report_nightly_r4_ex_cluster}}"
com.icontrol.report.nightly.r4_ex.schema="{{report_nightly_r4_ex_schema}}"
com.icontrol.report.nightly.r4_ex.START_DATE="{{report_nightly_r4_ex_START_DATE}}"
com.icontrol.report.nightly.r4_ex.END_DATE="{{report_nightly_r4_ex_END_DATE}}"
com.icontrol.report.nightly.r4_ex.SELECT_ALL="{{report_nightly_r4_ex_SELECT_ALL}}"
com.icontrol.report.nightly.r4_ex.EXCLUDE_GROUPID="{{report_nightly_r4_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r4_ex.EXCLUDE="{{report_nightly_r4_ex_EXCLUDE}}"
com.icontrol.report.nightly.r4_ex.suffix="{{report_nightly_r4_ex_suffix}}"

com.icontrol.report.nightly.r4_inc.name="{{report_nightly_r4_inc_name}}"
com.icontrol.report.nightly.r4_inc.format="{{report_nightly_r4_inc_format}}"
com.icontrol.report.nightly.r4_inc.partner="{{report_nightly_r4_inc_partner}}"
com.icontrol.report.nightly.r4_inc.cluster="{{report_nightly_r4_inc_cluster}}"
com.icontrol.report.nightly.r4_inc.schema="{{report_nightly_r4_inc_schema}}"
com.icontrol.report.nightly.r4_inc.START_DATE="{{report_nightly_r4_inc_START_DATE}}"
com.icontrol.report.nightly.r4_inc.END_DATE="{{report_nightly_r4_inc_END_DATE}}"
com.icontrol.report.nightly.r4_inc.SELECT_ALL="{{report_nightly_r4_inc_SELECT_ALL}}"
com.icontrol.report.nightly.r4_inc.EXCLUDE_GROUPID="{{report_nightly_r4_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r4_inc.EXCLUDE="{{report_nightly_r4_inc_EXCLUDE}}"
com.icontrol.report.nightly.r4_inc.suffix="{{report_nightly_r4_inc_suffix}}"

com.icontrol.report.nightly.r5.name="{{report_nightly_r5_name}}"
com.icontrol.report.nightly.r5.format="{{report_nightly_r5_format}}"
com.icontrol.report.nightly.r5.partner="{{report_nightly_r5_partner}}"
com.icontrol.report.nightly.r5.cluster="{{report_nightly_r5_cluster}}"
com.icontrol.report.nightly.r5.schema="{{report_nightly_r5_schema}}"
com.icontrol.report.nightly.r5.START_DATE="{{report_nightly_r5_START_DATE}}"
com.icontrol.report.nightly.r5.END_DATE="{{report_nightly_r5_END_DATE}}"
com.icontrol.report.nightly.r5.SELECT_ALL="{{report_nightly_r5_SELECT_ALL}}"
com.icontrol.report.nightly.r5.EXCLUDE_GROUPID="{{report_nightly_r5_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r5.EXCLUDE="{{report_nightly_r5_EXCLUDE}}"
com.icontrol.report.nightly.r5.suffix="{{report_nightly_r5_suffix}}"

com.icontrol.report.nightly.r5_ex.name="{{report_nightly_r5_ex_name}}"
com.icontrol.report.nightly.r5_ex.format="{{report_nightly_r5_ex_format}}"
com.icontrol.report.nightly.r5_ex.partner="{{report_nightly_r5_ex_partner}}"
com.icontrol.report.nightly.r5_ex.cluster="{{report_nightly_r5_ex_cluster}}"
com.icontrol.report.nightly.r5_ex.schema="{{report_nightly_r5_ex_schema}}"
com.icontrol.report.nightly.r5_ex.START_DATE="{{report_nightly_r5_ex_START_DATE}}"
com.icontrol.report.nightly.r5_ex.END_DATE="{{report_nightly_r5_ex_END_DATE}}"
com.icontrol.report.nightly.r5_ex.SELECT_ALL="{{report_nightly_r5_ex_SELECT_ALL}}"
com.icontrol.report.nightly.r5_ex.EXCLUDE_GROUPID="{{report_nightly_r5_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r5_ex.EXCLUDE="{{report_nightly_r5_ex_EXCLUDE}}"
com.icontrol.report.nightly.r5_ex.suffix="{{report_nightly_r5_ex_suffix}}"

com.icontrol.report.nightly.r5_inc.name="{{report_nightly_r5_inc_name}}"
com.icontrol.report.nightly.r5_inc.format="{{report_nightly_r5_inc_format}}"
com.icontrol.report.nightly.r5_inc.partner="{{report_nightly_r5_inc_partner}}"
com.icontrol.report.nightly.r5_inc.cluster="{{report_nightly_r5_inc_cluster}}"
com.icontrol.report.nightly.r5_inc.schema="{{report_nightly_r5_inc_schema}}"
com.icontrol.report.nightly.r5_inc.START_DATE="{{report_nightly_r5_inc_START_DATE}}"
com.icontrol.report.nightly.r5_inc.END_DATE="{{report_nightly_r5_inc_END_DATE}}"
com.icontrol.report.nightly.r5_inc.SELECT_ALL="{{report_nightly_r5_inc_SELECT_ALL}}"
com.icontrol.report.nightly.r5_inc.EXCLUDE_GROUPID="{{report_nightly_r5_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r5_inc.EXCLUDE="{{report_nightly_r5_inc_EXCLUDE}}"
com.icontrol.report.nightly.r5_inc.suffix="{{report_nightly_r5_inc_suffix}}"

com.icontrol.report.nightly.r6.name="{{report_nightly_r6_name}}"
com.icontrol.report.nightly.r6.format="{{report_nightly_r6_format}}"
com.icontrol.report.nightly.r6.partner="{{report_nightly_r6_partner}}"
com.icontrol.report.nightly.r6.cluster="{{report_nightly_r6_cluster}}"
com.icontrol.report.nightly.r6.schema="{{report_nightly_r6_schema}}"
com.icontrol.report.nightly.r6.START_DATE="{{report_nightly_r6_START_DATE}}"
com.icontrol.report.nightly.r6.END_DATE="{{report_nightly_r6_END_DATE}}"
com.icontrol.report.nightly.r6.SELECT_ALL="{{report_nightly_r6_SELECT_ALL}}"
com.icontrol.report.nightly.r6.EXCLUDE_GROUPID="{{report_nightly_r6_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r6.EXCLUDE="{{report_nightly_r6_EXCLUDE}}"
com.icontrol.report.nightly.r6.suffix="{{report_nightly_r6_suffix}}"

com.icontrol.report.nightly.r6_ex.name="{{report_nightly_r6_ex_name}}"
com.icontrol.report.nightly.r6_ex.format="{{report_nightly_r6_ex_format}}"
com.icontrol.report.nightly.r6_ex.partner="{{report_nightly_r6_ex_partner}}"
com.icontrol.report.nightly.r6_ex.cluster="{{report_nightly_r6_ex_cluster}}"
com.icontrol.report.nightly.r6_ex.schema="{{report_nightly_r6_ex_schema}}"
com.icontrol.report.nightly.r6_ex.START_DATE="{{report_nightly_r6_ex_START_DATE}}"
com.icontrol.report.nightly.r6_ex.END_DATE="{{report_nightly_r6_ex_END_DATE}}"
com.icontrol.report.nightly.r6_ex.SELECT_ALL="{{report_nightly_r6_ex_SELECT_ALL}}"
com.icontrol.report.nightly.r6_ex.EXCLUDE_GROUPID="{{report_nightly_r6_ex_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r6_ex.EXCLUDE="{{report_nightly_r6_ex_EXCLUDE}}"
com.icontrol.report.nightly.r6_ex.suffix="{{report_nightly_r6_ex_suffix}}"

com.icontrol.report.nightly.r6_inc.name="{{report_nightly_r6_inc_name}}"
com.icontrol.report.nightly.r6_inc.format="{{report_nightly_r6_inc_format}}"
com.icontrol.report.nightly.r6_inc.partner="{{report_nightly_r6_inc_partner}}"
com.icontrol.report.nightly.r6_inc.cluster="{{report_nightly_r6_inc_cluster}}"
com.icontrol.report.nightly.r6_inc.schema="{{report_nightly_r6_inc_schema}}"
com.icontrol.report.nightly.r6_inc.START_DATE="{{report_nightly_r6_inc_START_DATE}}"
com.icontrol.report.nightly.r6_inc.END_DATE="{{report_nightly_r6_inc_END_DATE}}"
com.icontrol.report.nightly.r6_inc.SELECT_ALL="{{report_nightly_r6_inc_SELECT_ALL}}"
com.icontrol.report.nightly.r6_inc.EXCLUDE_GROUPID="{{report_nightly_r6_inc_EXCLUDE_GROUPID}}"
com.icontrol.report.nightly.r6_inc.EXCLUDE="{{report_nightly_r6_inc_EXCLUDE}}"
com.icontrol.report.nightly.r6_inc.suffix="{{report_nightly_r6_inc_suffix}}"