#
# The partner-specific message bundle file. This can be used to override tokens from other bundles,
# in particular, the customizable bundle
#
#  ALL KEYS CUSTOMIZED IN THIS FILE MUST ALSO BE PLACED IN customizable_fr.properties.
#
